:root {
	--primary-color: #f1bf00;
	--primary-color-hover: #ffe37f;
	--side-bar-background: #212026;
	--language-bar-background: #ccc;
	--error-color: #ff2121;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

ul {
	list-style: none;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Ubuntu', sans-serif;
	min-height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	background-color: #f7f7f7;

	display: flex;
}

aside {
	background-color: var(--side-bar-background);
	padding: 20px;
	width: 200px;
	height: 100vh;
	position: fixed;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6px;
}

header h2 {
	color: #fff;
	font-size: 16px;
	text-align: center;
}

.header-img {
	width: 80px;
	border-radius: 50%;
	overflow: hidden;
}

.header-img img {
	width: 100%;
	height: 100%;
}

.navbar {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.nav-item {
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	transition: all ease 0.3s;
}

.nav-item.active {
	color: var(--primary-color);
}

.nav-item:hover {
	color: var(--primary-color);
}

.cv-button {
	display: block;
	color: #000;
	text-align: center;
	background-color: var(--primary-color);
	border: none;
	width: 100%;
	padding: 8px 4px;
	font-size: 14px;
	border-radius: 2px;
	cursor: pointer;
	transition: all ease 0.3s;
}

.cv-button:hover {
	background-color: var(--primary-color-hover);
}

main {
	margin-left: 260px;
	width: 70%;
	max-width: 1500px;
	padding-bottom: 30px;
}

.topbar {
	height: 40px;
	background-color: var(--primary-color);
}

#personal-info {
	padding: 30px 0;
	display: flex;
}

.personal-info-left {
	width: 70%;
}

h1 {
	text-transform: uppercase;
	font-size: 34px;
}

.personal-info-left ul {
	margin: 16px 0;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.personal-info-left ul li span {
	font-weight: bold;
	margin-right: 6px;
}

.professional-profile {
	margin-top: 40px;
}

.professional-profile p {
	margin-top: 8px;
	width: 80%;
}

.personal-info-right {
	width: 30%;
}

.profile-img {
	width: 250px;
	margin: 0 auto;
}

.profile-img img {
	width: 100%;
	height: 100%;
}

section hr {
	margin: 30px 0;
}

.section-title {
	background-color: rgba(241, 191, 0, 0.2);
	padding: 6px 10px;
}

.work-item {
	margin-top: 30px;
}

.work-title {
	display: flex;
	align-items: center;
	gap: 16px;
}

.work-title span {
	font-size: 14px;
	color: #777;
}

.work-list {
	list-style-type: disc;
	margin-top: 16px;
	margin-left: 18px;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.academic-item {
	margin-top: 20px;
	background-color: #eee;
	padding: 16px;
}

.academic-item-title {
	display: flex;
	align-items: center;
	gap: 16px;
}

.academic-item-title span {
	font-size: 14px;
	color: #777;
}

.academic-item-place {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-top: 8px;
	font-weight: bold;
}

.academic-item-place span {
	font-size: 14px;
	color: #777;
	font-weight: normal;
}

.skills {
	margin-top: 30px;
}

.skills ul {
	list-style-type: disc;
	margin-top: 8px;
	margin-left: 18px;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.languages {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.language-wrapper {
	width: 70%;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.language-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.language-title span {
	font-weight: bold;
}

.language-bar {
	width: 100%;
	height: 12px;
	background-color: var(--language-bar-background);
}

.language-bar-english {
	width: 85%;
	height: 100%;
	background-color: var(--primary-color);
}

.language-bar-italian {
	width: 65%;
	height: 100%;
	background-color: var(--primary-color);
}

#contact-form-section form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 30px;
}

#contact-form-section form div {
	width: 100%;
	display: flex;
	gap: 16px;
}

#contact-form-section form div input {
	width: 50%;
}

#contact-form-section form input {
	border: none;
	padding: 16px;
	font-size: 16px;
	background-color: #eee;
}

#contact-form-section form input:focus {
	outline: none;
}

#contact-form-section form textarea {
	border: none;
	height: 180px;
	font-size: 16px;
	resize: none;
	padding: 16px;
	background-color: #eee;
}

#contact-form-section form textarea:focus {
	outline: none;
}

.button-container {
	width: 100%;
	display: flex;
	justify-content: end;
}

.submit-btn {
	border: none;
	background-color: var(--primary-color);
	color: #000;
	font-size: 16px;
	width: max-content;
	padding: 12px 24px;
	transition: all ease 0.3s;
	cursor: pointer;
	border-radius: 4px;
}

.submit-btn:hover {
	background-color: var(--primary-color-hover);
}

#show-error-form {
	width: max-content !important;
	margin: 0 auto;
	background-color: var(--error-color);
	color: #fff;
	font-size: 14px;
	padding: 8px;
	border-radius: 4px;
}

#show-error-form.hide {
	display: none !important;
}

#show-error-form.show {
	display: block !important;
}
